git ---
---

@import "{{ site.theme }}";

footer {
  display: none;
}

header {
  width: 150px;
}

header > p.view {
  display: none;
}

.wrapper {
  margin-left: 150px;
}

html {
  background-color: lightgray;
}
